
<h1>Nexus Overview of UI elements</h1>

<div id="ui">
	<div>
		Button?
	</div>
	<div>
		Potentiometer
		<canvas id="dial_1" width="200px" height="200px">Dial 1</canvas>
		<canvas id="dial_2" width="200px" height="200px">Dial 2</canvas>
	</div>
</div>
