body{
	font-family:'Muli', helvetica;
}
.center-block {
	max-width:700px;
	margin:5px auto;
	padding:10px;
	display:block;
}

/* Doc Tutorial Entry */
.tutorial {
	margin-left: 200px;
	border-left: solid 1px #aaa;
	width: calc(100% - 200);
	padding:0px 20px;
	height:100%;
	overflow:auto;
	box-sizing:border-box;
	font-weight: 500;
	font-size:15px;
}

.tutorial .overview {
	padding-bottom:20px;
}

.tutorial h3 {
	display:none;
}

.tutorial .properties, .tutorial .methods, .tutorial .example {
	border-top: solid 2px #ccc;
	margin-top:20px;
	padding:10px 0px;
}

.tutorial .property-name, .tutorial .method-name {
	font-weight:bold;
	padding:30px 20px 0px 0px;
	font-size: 22px;
	display:inline-block;

}
.tutorial .property-type, .tutorial .method-type {
	display:inline-block;
	font-style:italic;
	color:#aaa;
}
.tutorial .property-description, .tutorial .method-description {
	padding:5px 0px;
	font-size:15px;
	color:#333;
	letter-spacing: 0.2px;
}
.tutorial .property-example, .tutorial .method-example {
	padding:20px;
}
